<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.phpaspect.apdt.examples.core.builders.BuildParticipantFactory"
            id="org.phpaspect.apdt.examples.core.buildParticipant"
            name="org.phpaspect.apdt.examples.core.buildParticipant"
            nature="org.eclipse.php.core.PHPNature">
      </buildParticipant>
   </extension>

</plugin>
