<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
	<!-- PHPAspect Model Handler -->
	<extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            default="yes"
            class="org.phpaspect.apdt.internal.core.documentModel.handler.PHPAspectModelHandler"
            associatedContentTypeId="org.phpaspect.apdt.core.phpaspectsource"
            id="org.phpaspect.apdt.core.documentModel.handler">
      </modelHandler>
   </extension>
	<!-- DocumentFactory extension for PHPAspect: This is needed in order to bootstrap the lookup of the ModelHandler -->
	<extension point="org.eclipse.core.filebuffers.documentCreation"
         id="org.phpaspect.apdt.core.documentfactories"
         name="PHPAspect Document Creation Factory">
         <!-- This is a base factory class included in WST -->
      <factory
            contentTypeId="org.phpaspect.apdt.core.phpaspectsource"
            class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory"/>
   </extension>
   <extension
         id="PHPAspectBuilderExtension"
         name="PHPAspect Builder"
         point="org.eclipse.php.core.phpBuilderExtensions">
      <builder
            class="org.phpaspect.apdt.internal.core.builder.PHPAspectBuilderExtension"
            id="org.phpaspect.apdt.core.builder">
      </builder>
   </extension>

   <extension
         id="phpAspectNature"
         name="PHPAspect Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.phpaspect.apdt.internal.core.builder.PHPAspectNature">
         </run>
      </runtime>
      <requires-nature id="org.eclipse.php.core.PHPNature" />
   </extension>

	 <extension
	       id="phpaspectproblemmarker"
	       name="PHPAspect Syntax Error"
	       point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.problemmarker"/>
	    <persistent value="true"/>
	    <attribute name="lineNumber"/>
	    <attribute name="charStart"/>
	    <attribute name="charEnd"/>
	    <attribute name="message"/>
	    <attribute name="priority"/>
	    <attribute name="severity"/>
	    <attribute name="userEditable"/>
	    <super type="org.eclipse.core.resources.textmarker"/>
	 </extension>
  <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.php.core.phpsource"
            file-extensions="ap"
            id="phpaspectsource"
            name="PHPAspect Content Type"
            priority="high">
      </content-type>
   </extension>

</plugin>
