<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="phpAspectBuilder"
         name="PHPAspect Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.phpaspect.apdt.builder.PHPAspectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phpAspectNature"
         name="PHPAspect Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.phpaspect.apdt.builder.PHPAspectNature">
         </run>
      </runtime>
      <builder
            id="org.phpaspect.apdt.phpAspectBuilder">
      </builder>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="iprojectcontributions">
        <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.php.core.PHPNature"/>
	         	<not>
		         	<objectState name="nature" value="org.phpaspect.apdt.phpAspectNature"/>
		        </not>
		    </and>
         </visibility>
         <action
               label="Convert to PHPAspect Project"
               class="org.phpaspect.apdt.builder.ToggleNatureAction"
               menubarPath="additions"
               id="addphpaspectnatureaction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="iprojectcontributions">
         <visibility>
         	<objectState name="nature" value="org.phpaspect.apdt.phpAspectNature"/>
         </visibility>
         <action
               label="Convert to PHP Project"
               class="org.phpaspect.apdt.builder.ToggleNatureAction"
               menubarPath="additions"
               id="removephpaspectnatureaction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="apProblem"
         name="PHPAspect Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="PHPAspect"
            id="org.phpaspect.apdt">
      </category>
      <wizard
            category="org.phpaspect.apdt"
            class="org.phpaspect.apdt.ui.wizards.PHPaspectNewWizard"
            icon="icons/new_aspect_wizard.gif"
            id="org.phpaspect.apdt.wizards.PHPaspectNewWizard"
            name="Aspect">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.php.internal.ui.editor.PHPStructuredEditor"
            contributorClass="org.eclipse.php.internal.ui.editor.PHPEditorActionBarContributor"
            default="true"
            icon="icons/phpaspectfile.gif"
            id="org.phpaspect.apdt.editor"
            extension="ap"
            name="PHPAspect Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="org.phpaspect.apdt.phpaspectsource" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.php.core.phpsource"
            file-extensions="ap"
            id="phpaspectsource"
            name="PHPAspect Content Type"
            priority="high">
      </content-type>
   </extension>
</plugin>
