<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="tools.menu">
            <menu
                label="PHPAspect Tools"
                path="additions"
                id="tools.submenu">
                <groupMarker name="content" />
                <separator name="additions" />
          <separator
                name="weaving">
          </separator>
            </menu>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="convertToPHPAspect">
                 <action
                       label="Convert to PHPAspect Project"
                       class="org.phpaspect.apdt.internal.ui.actions.TogglePHPAspectNatureAction"
                       id="addphpaspectnatureaction"
               		   icon="icons/obj16/phpaspect_project_obj.gif"
                       menubarPath="tools.submenu/content">
                 </action>
        <visibility>
                <and>
                        <objectState name="nature" value="org.eclipse.php.core.PHPNature"/>
                        <not>
                                <objectState name="nature" value="org.phpaspect.apdt.core.nature"/>
                        </not>
                    </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="convertToPHP">
         <visibility>
                <objectState name="nature" value="org.phpaspect.apdt.core.nature"/>
         </visibility>
         <action
             class="org.phpaspect.apdt.internal.ui.actions.TogglePHPAspectNatureAction"
             icon="icons/obj16/add_php_project.gif"
             id="removephpaspectnatureaction"
             label="Remove PHPAspect capability"
             menubarPath="tools.submenu/content">
         </action>
      </objectContribution>
    <objectContribution
          adaptable="true"
          id="Weaver"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="org.phpaspect.apdt.internal.ui.actions.WeaveAction"
             icon="icons/obj16/weave.gif"
             id="org.phpaspect.apdt.ui.action2"
             label="Weave Project"
             menubarPath="tools.submenu/weaving">
       </action>
         <visibility>
                <objectState name="nature" value="org.phpaspect.apdt.core.nature"/>
         </visibility>
    </objectContribution>
   </extension>
      <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/phpaspect_ovr.gif"
            natureId="org.phpaspect.apdt.core.nature"
            id="org.phpaspect.apdt.core.natureImage">
      </image>
   </extension>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               description="PHPAspect set of actions"
               id="org.phpaspect.apdt.ui.actionSet"
               label="PHPAspect Action Set"
               visible="false">
            <menu
                  id="phpaspectMenu"
                  label="&amp;PHPAspect">
               <separator
                     name="phpaspectGroup">
               </separator>
            </menu>
            <action
                  class="org.phpaspect.apdt.internal.ui.actions.WeaveAction"
                  icon="icons/obj16/weave.gif"
                  id="org.phpaspect.apdt.internal.ui.actions.SampleAction"
                  label="&amp;Weave Project"
                  menubarPath="phpaspectMenu/phpaspectGroup"
                  toolbarPath="phpaspectGroup"
                  tooltip="Weave project">
            </action>
            <action
                  icon="icons/obj16/aspect.gif"
                  id="org.phpaspect.apdt.ui.actions.newaspect"
                  label="&amp;New Aspect"
                  menubarPath="phpaspectMenu/phpaspectGroup"
                  style="push"
                  class="org.phpaspect.apdt.internal.ui.actions.NewAspectAction"
                  toolbarPath="phpaspectGroup"
                  tooltip="New Aspect">
            </action>
         </actionSet>
      </extension>
      <extension
            point="org.eclipse.ui.actionSetPartAssociations">
         <actionSetPartAssociation
               targetID="org.phpaspect.apdt.ui.actionSet">
            <part
                  id="org.eclipse.php.editor">
            </part>
         </actionSetPartAssociation>
      </extension>
      <extension
            point="org.eclipse.ui.newWizards">
         <category
               id="org.phpaspect.apdt.ui.wizcategory"
               name="PHPAspect">
         </category>
         <wizard
               category="org.phpaspect.apdt.ui.wizcategory"
               class="org.phpaspect.apdt.internal.ui.wizards.NewAspectWizard"
               finalPerspective="org.eclipse.php.perspective"
               icon="icons/obj16/aspect.gif"
               id="org.phpaspect.apdt.ui.newaspect"
               name="Aspect"
               preferredPerspectives="org.eclipse.php.perspective"
               project="false">
         </wizard>
      </extension>
      	<!--PHP Perspective Extensions Definition:-->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">
			<actionSet id="org.phpaspect.apdt.ui.actionSet" />
			<newWizardShortcut id="org.phpaspect.apdt.ui.newaspect" />
		</perspectiveExtension>
	 </extension>
	 	<!--PHPAspect Editor:-->
</plugin>
