<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/phpaspect_ovr.gif"
            natureId="org.phpaspect.apdt.core.phpAspectNature"
            id="org.phpaspect.apdt.core.phpAspectProjectNatureImage">
      </image>
   </extension>
	<extension point="org.eclipse.ui.decorators">
	  <decorator
         adaptable="true"
         class="org.phpaspect.apdt.internal.ui.icons.APDTDecorator"
         id="APDTDecorator"
         label="Decorator Label"
         objectClass="org.eclipse.core.resources.IResource"
         state="true"> 
	  </decorator> 
	</extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="tools.menu">
            <menu
            	label="PHPAspect Tools"
            	path="additions"
            	id="tools.submenu">
            	<groupMarker name="content" />
            	<separator name="additions" />
            </menu>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="convertToPHPAspect">
	         <action
	               label="Convert to PHPAspect Project"
	               class="org.phpaspect.apdt.internal.ui.actions.TogglePHPAspectNatureAction"
	               id="addphpaspectnatureaction"
	               menubarPath="tools.submenu/content">
	         </action>
        <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.php.core.PHPNature"/>
	         	<not>
		         	<objectState name="nature" value="org.phpaspect.apdt.core.phpAspectNature"/>
		        </not>
		    </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="convertToPHP">
         <visibility>
         	<objectState name="nature" value="org.phpaspect.apdt.core.phpAspectNature"/>
         </visibility>
         <action
               label="Remove PHPAspect capability"
               class="org.phpaspect.apdt.internal.ui.actions.TogglePHPAspectNatureAction"
               menubarPath="tools.submenu/content"
               id="removephpaspectnatureaction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.phpaspect.apdt.internal.ui.editor.PHPAspectEditor"
            contributorClass="org.eclipse.php.internal.ui.editor.PHPEditorActionBarContributor"
            default="true"
            icon="icons/phpaspectfile.gif"
            id="org.phpaspect.apdt.ui.editor"
            extension="ap"
            name="PHPAspect Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="org.phpaspect.apdt.core.phpaspectsource" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.phpaspect.apdt.ui"
            name="PHPAspect">
      </category>
      <wizard
            category="org.phpaspect.apdt.ui"
            class="org.phpaspect.apdt.internal.ui.wizards.AspectCreationWizard"
            icon="icons/new_aspect_wizard.gif"
            id="org.phpaspect.apdt.ui.wizards.AspectCreationWizard"
            name="Aspect"
            project="true">
      </wizard>
      <wizard
            category="org.phpaspect.apdt.ui"
            class="org.phpaspect.apdt.internal.ui.wizards.PHPAspectProjectCreationWizard"
            icon="icons/newphpaspectprj_wiz.gif"
            id="org.phpaspect.apdt.internal.ui.wizards.PHPAspectProjectCreationWizard"
            name="New PHPAspect project"
            project="true">
      </wizard>
   </extension>
	<!--======================================================================================-->
	<!-- custom PHPAspect source (as you type) validation					   						  -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.phpaspect.apdt.internal.ui.editor.PHPAspectValidator"
			id="org.phpaspect.apdt.ui.internal.ui.editor.phpsyntaxvalidation">
			<contentTypeIdentifier id="org.phpaspect.apdt.core.phpaspectsource">
				<partitionType id="org.phpaspect.apdt.PHPASPECT_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	<extension point="org.eclipse.php.ui.phpElementFilters">
	    <filter
	        targetId="org.eclipse.php.ui.explorer"
	        name="Hide Weaved files"
	        enabled="true"
	        description="Hides the weaved directory of the project which contains the PHP output"
	        class="org.phpaspect.apdt.internal.ui.filters.WeavedSourceFilter"
	        id="org.phpaspect.apdt.ui.explorer.WeavedSourceFilter">
	    </filter>
	</extension>
	<!--Property Pages:-->
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="org.phpaspect.apdt.internal.ui.preferences.PHPAspectInterpreterPreferencePage"
			id="org.phpaspect.apdt.ui.propertyPages.PHPAspectInterpreterPreferencePage"
			name="PHPAspect Compiler"
			objectClass="org.eclipse.core.resources.IProject">
			<filter
				name="nature"
				value="org.phpaspect.apdt.core.phpAspectNature" />
		</page>
	</extension>
	<!--Preferences Pages:-->
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="org.phpaspect.apdt.internal.ui.preferences.PHPAspectInterpreterPreferencePage"
			id="org.phpaspect.apdt.ui.preferences.PHPAspectInterpreterPreferencePage"
			name="PHPAspect Compiler">
		</page>
	</extension>
	<!-- Views -->
	<extension point="org.eclipse.ui.views">
        <view id="org.eclipse.ui.articles.views.labelview"
             name="Cross References"
             category="org.phpaspect.apdt.ui.cat"
          class="org.phpaspect.apdt.internal.ui.views.XReferenceView"
          icon="icons/XRefIcon.gif"/>
	</extension>
	<!-- PHPAspect Search Page -->
	<!--extension point="org.eclipse.search.searchPages">
		<page
			canSearchEnclosingProjects="true"
			class="org.phpaspect.apdt.internal.ui.search.PHPAspectSearchPage"
			extensions="php:90, inc:90"
			icon="icons/full/obj16/php_search_obj.gif"
			id="org.phpaspect.apdt.ui.PHPAspectSearchPage"
			label="PHPAspect Search"
			showScopeSection="true"
			sizeHint="460,160" />
	</extension-->
</plugin>
